<html>
  <head>
    <title>Plussing</title>
  </head>
  <body>
    <form method="POST">
       <select size="3" name="act">
         
         <option selected value="plus">Сложение</option>
         <option value="div">Деление</option>
         <option value="mult">Умножение</option>
         <option value="mult2">Возведение в степень</option>
       </select>
       <p>First argument: <input type="test" name="a" value="3"></p>
       <p>Second argument: <input type="test" name="b" value="4"></p>
       <input type="submit" name="submit" value="Calc">
    </form>
  </body>
</html>